body {
    background-color: rgb(230,230,230);
}

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.container{
    width: 95%;
    margin-inline: auto;    
}

.bold{
    font-weight: bold;
}

body{
    display:block !important;
}