body {
    background-color: rgb(230,230,230);
}

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.container{
    width: 95%;
    /*max-width: 70%;*/
    margin-inline: auto;
    padding: 2rem;
}