:root{
    --logo-size-clamp: clamp(4rem, 6vw + 1rem, 6rem);
}

body {
    background-color: rgb(230,230,230);
    display:block !important;
}

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.container{
    width: 95%;
    margin-inline: auto;
}

.bold{
    font-weight: bold;
}

.page_dislayer{
    display: block;
}

.hide{
    display: none;
}

.site_logo{
    width: 100px;
}

.nav_container{
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(100,100,100);
    margin-bottom: 1rem;
}

.game_sheet_buttons{
    width: var(--logo-size-clamp);
    cursor: pointer;
}

.character_generators{
    gap: 2rem;
}