/* font-family: 'Nova Square', cursive; */

.ose_character_sheet{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, auto));
    gap: 2rem;
    max-width: 1400px;
}

.ose_page_one,
.ose_page_two{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
}

.ose_page_left_side,
.ose_page_right_side{
    border-top: 1px solid #000;
}

.ose_page_left_side{
    width: 65%;
}

.ose_page_right_side{
    width: 32%;
}